/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/*.dep
/*.deps
/src/javanvm/.deps/
/src/libatari800/.deps/
/src/roms/.deps/
/src/dos/.deps/
/src/falcon/.deps/
/src/gles2/.deps/
/src/sdl/.deps/
/src/win32/.deps/
/src/sdl/.dirstamp
/src/sdl/atari800-init.o
/src/sdl/atari800-input.o
/src/sdl/atari800-main.o
/src/sdl/atari800-palette.o
/src/sdl/atari800-sound.o
/src/sdl/atari800-video.o
/src/sdl/atari800-video_gl.o
/src/sdl/atari800-video_sw.o
/tools/.deps/
/tools/Makefile
/tools/Makefile.in
/tools/cart
/tools/cart.o
