/.deps/
/.dirstamp
/Makefile
/Makefile.in
/atari800
/atari800-af80.o
/atari800-afile.o
/atari800-antic.o
/atari800-artifact.o
/atari800-atari.o
/atari800-binload.o
/atari800-bit3.o
/atari800-cartridge.o
/atari800-cartridge_info.o
/atari800-cassette.o
/atari800-cfg.o
/atari800-colours.o
/atari800-colours_external.o
/atari800-colours_ntsc.o
/atari800-colours_pal.o
/atari800-compfile.o
/atari800-cpu.o
/atari800-crc32.o
/atari800-cycle_map.o
/atari800-devices.o
/atari800-esc.o
/atari800-filter_ntsc.o
/atari800-gtia.o
/atari800-ide.o
/atari800-img_tape.o
/atari800-input.o
/atari800-log.o
/atari800-memory.o
/atari800-monitor.o
/atari800-multimedia.o
/atari800-mzpokeysnd.o
/atari800-pal_blending.o
/atari800-pbi.o
/atari800-pbi_bb.o
/atari800-pbi_mio.o
/atari800-pbi_proto80.o
/atari800-pbi_scsi.o
/atari800-pbi_xld.o
/atari800-pia.o
/atari800-pokey.o
/atari800-pokeyrec.o
/atari800-pokeysnd.o
/atari800-rdevice.o
/atari800-remez.o
/atari800-rtime.o
/atari800-screen.o
/atari800-sio.o
/atari800-sound.o
/atari800-statesav.o
/atari800-sysrom.o
/atari800-ui.o
/atari800-ui_basic.o
/atari800-util.o
/atari800-videomode.o
/atari800-voicebox.o
/atari800-votrax.o
/atari800-votraxsnd.o
/atari800-xep80.o
/atari800-xep80_fonts.o
/cartridge_info.o
/config.h
/config.h.in
/stamp-h1
